body {
  background-color: #d9d5c6;
  color: #000000;
}

a {
  color: white;
}

ul#horizontal-list {
  list-style: none outside;
  padding: 0px;
}

ul#horizontal-list li {
  padding: 10px;
  display: inline;
  text-shadow: 1px 1px 5px #111111;
}

.landingPage {
  background-image: url("../images/backdroplanding.jpg");
  background-position: center;
  height: 100vh;
  position: relative;
}

.landing-name {
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #111111;
}

.landing-name-sub {
  font-size: 50px;
  text-shadow: 1px 1px 5px #111111;
}

nav {
  background-color: #30303000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}

.navbar-toggler {
  color: #ffffff;
  background-color: #303030;
}

hr {
  border-color: #000000;
}

#profile-pic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#aboutme-text-col {
  border-radius: 10px;
  color: #000000;
  font-weight: 500;
  background-color: #6f64552a;
  margin: 5px;
}

.portfolio {
  border-radius: 10px;
  padding: 10px 0 10px 0;
  background-color: #424242;
}

.portfolio-image:hover {
  opacity: 80%;
}

@media (max-width: 700px) {
  .landing-name-column {
    margin-top: 18vh;
  }
  #profile-pic {
    max-width: 250px;
    height: auto;
  }
  #aboutme-profile-col {
    text-align: center !important;
  }
  #aboutme-text-col {
    margin-top: 10px;
    padding-top: 25px;
    text-align: center !important;
  }
}

@media (min-width: 701px) {
  #aboutme-profile-col {
    float: left !important;
    margin: 9% 50px;
  }
  #aboutme-text-col {
    float: left !important;
    padding-top: 5%;
  }
  .landing-name-column {
    margin-top: 26vh;
  }

  #profile-pic {
    max-width: 250px;
    height: auto;
  }
}
