body {
  background-color: #212121;
  color: #ffffff;
}

.landingPage {
  background-image: url("../images/backdroplanding.jpg");
  background-position: center;
  height: 100vh;
  position: relative;
}

.landing-name-column {
  margin-top: 35vh;
}

.landing-name {
  font-size: 100px;
  text-shadow: 1px 1px 5px #111111;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #303030;
  border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}

#main-container {
  background-color: #303030;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

hr {
  border-color: rgba(255, 255, 255, 0.541);
}

#profile-pic {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.portfolio{
  border-radius: 10px;
  padding: 10px 0 10px 0;
  background-color: #424242;
}

.portfolio-image:hover {
  opacity: 80%;
}


@media (min-width: 400px) {
  #profile-pic {
    max-width: 250px;
    height: auto;
  }
}
