/* body {
  background-color: #97BC62FF;
  color: #2C5F2D;
}

#navbar {
  background-color: #2C5F2D;
  color: #97BC62FF;
}

#nav-name {
  color: #97BC62FF;
}

.nav-item {
  color: #97BC62FF;
}


a {
  color: black;
} */


@media (min-width: 400px) {
  #profile-pic {
    max-width: 30%;
    height: auto;
  }
}
